@using MvcCv.Models.Entitiy
@model List<TblYeteneklerim>

<div class="resume-section-content">
    <h2 class="mb-5">YETENEKLERİM</h2>
    <div class="subheading mb-3">Programlama Dilleri & Araçlar</div>
    <ul class="list-inline dev-icons">
        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
        <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
        <li class="list-inline-item"><i class="fas fa-laptop-code"></i></li>
        <li class="list-inline-item"><i class="fab fa-windows"></i></li>
        <li class="list-inline-item"><i class="fas fa-code"></i></li>
        <li class="list-inline-item"><i class="fab fa-stack-overflow"></i></li>
        <li class="list-inline-item"><i class="fab fa-jira"></i></li>
        <li class="list-inline-item"><i class="fab fa-jenkins"></i></li>
        <li class="list-inline-item"><i class="fab fa-git-square"></i></li>
        <li class="list-inline-item"><i class="fab fa-bootstrap"></i></li>
        <li class="list-inline-item"><i class="fad fa-code"></i></li>
    </ul>
    <div class="subheading mb-3">BECERİLERİM</div>
    <ul class="fa-ul mb-0">
        @foreach (var x  in Model)
        {

        <li>
            <span class="fa-li"><i class="fas fa-check"></i></span>
            @x.Yetenek
        </li>
        }
    </ul>
     
</div>
