@model MvcCv.Models.Entitiy.TblHobilerim
@{
    ViewBag.Title = "HobiDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2> Yeni Hobi Ekleme Sayfası</h2>

<form method="post">
    @Html.Label("Hobi")
    @Html.TextBoxFor(x => x.Aciklama1, new { @class = "form-control" })
    <br />
    @Html.Label("Açıklma")
    @Html.TextAreaFor(x => x.Aciklama2, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Güncelle</button>

</form>

