
@{
    ViewBag.Title = "DeneyimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Yeni Deneyim Ekleme Sayfası</h2>
<form method="post">
    <input type="text" name="Baslik" required class="form-control"
           placeholder="Başlığı yazınız" />
    <br />
    <input type="text" name= "AltBaslik" required class="form-control"
           placeholder="Alt Başlık" />
    <br />
    <input type="text" name="Tarih" required class="form-control"
           placeholder="Çalışma Tarihi" />
    <br />
    <textarea placeholder="Açıklama giriniz" name="Aciklama" 
              class="form-control" rows="5"></textarea>
    <br />
    <button class="btn btn-info">Kaydet</button>

</form>


